@use '../utils/mixins';

.bar {
  &_position {
    @include mixins.content-padding;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__img {
    display: block;
    width: 64px;
    height: 46px;

    @include mixins.hover(transform, scale(1.2));

    @include mixins.on-tablet {
      width: 87px;
      height: 65px;
    }

    &_logo {
      background-image: url(../images/THE-MET-Logo.svg);
      background-size: cover;
    }
  }
}
