@use 'variables';
@use '../utils/mixins';

.contact {
  &__wrapper {
    @include mixins.section-grid;
  }

  &__conteiner {
    margin-top: 48px;
    grid-column: span 2;

    @include mixins.on-tablet {
      grid-column: 1 / 4;
    }

    @include mixins.on-desktop {
      grid-column: span 3;
    }
  }

  &__title {
    margin: 0;

    @include mixins.text-size-16-27(variables.$color-22, 700);
  }

  &__text {
    margin-bottom: 8px;

    @include mixins.text-size-14-400(variables.$color-22, 27px);
  }

  &__tel-num {
    text-decoration-line: none;

    @include mixins.text-size-16-27(variables.$color-62, 700);
  }

  &__address {
    font-style: inherit;

    @include mixins.text-size-14-400(variables.$color-22, 27px);
  }

  &__post-address {
    text-decoration-line: none;

    @include mixins.text-size-700-140(variables.$color-62, 16px);
  }
}
