@use 'variables';
@use '../utils/mixins';

.explore-online {
  &__wrapper {
    @include mixins.section-grid;
  }

  &__conteiner {
    margin-top: 40px;
    grid-column: span 2;

    @include mixins.on-tablet {
      grid-column: 2 / 6;
    }

    @include mixins.on-desktop {
      grid-column: span 4;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;

    @include mixins.hover(transform, scale(103%));
  }

  &__color-title {
    margin: 0;
    margin-top: 24px;
    text-align: center;

    @include mixins.on-tablet {
      margin-top: 32px;
    }

    @include mixins.text-size-700-140(variables.$color-209-45-53, 24px);
  }

  &__description {
    margin: 0;
    margin-top: 4px;
    font-family: Roboto, sans-serif;
    text-align: center;

    @include mixins.text-size-16-27(variables.$color-22, 400);
  }
}
