@use '../utils/mixins';

.footer {
  margin-top: 100px;
  height: 11.25rem;
  background-image: url(../images/footer-mobile.png);
  background-size: cover;
  background-position: center;

  @include mixins.on-tablet {
    margin-top: 150px;
    height: 25.44rem;
    background-image: url(../images/footer-tablet-desktop.png);
  }
}
