@use '../utils/mixins';

.header {
  &_background-position {
    box-sizing: border-box;
    background-image: url(../images/header-mobile.png);
    background-size: cover;
    background-position: center;
    height: 100vh;

    @include mixins.on-tablet {
      background-image: url(../images/header-tablet-desktop.png);
    }
  }
}
