@use 'variables';
@use '../utils/mixins';

.museum-hours {
  margin-top: 100px;

  @include mixins.section-grid;

  &__title {
    grid-column: 1 / -1;

    @include mixins.on-tablet {
      grid-column: 1 / 4;
    }

    @include mixins.on-desktop {
      grid-column: span 5;
    }
  }

  &__paragraph {
    margin: 0 0 2px;

    @include mixins.text-size-700-140(variables.$color-209-45-53, 12px);
  }

  &__time {
    grid-column: 1 / -1;

    @include mixins.on-tablet {
      grid-column: 4 / 7;
    }

    @include mixins.on-desktop {
      grid-column: span 5;
    }
  }
}
