@use 'variables';
@use '../utils/mixins';

.museum-time {
  &__title {
    margin: 0;
    margin-top: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0;

    @include mixins.on-tablet {
      margin-top: 0;
    }

    &_margin {
      margin-top: 24px;
    }
  }

  &__day-time {
    display: flex;
    gap: 24px;

    & > :nth-child(n + 1) {
      list-style: none;
      padding-inline: 0;
    }
  }

  &__time {
    @include mixins.text-size-16-27(variables.$color-22, 700);
  }

  &__day {
    @include mixins.text-size-16-27(variables.$color-22, 400);
  }

  &__closed-day {
    @include mixins.text-size-16-27(variables.$color-22, 400);
  }

  &__closed-on {
    @include mixins.text-size-16-27(variables.$color-22, 700);
  }
}
