@use 'variables';
@use '../utils/mixins';

.now-view {
  &__paragraph {
    margin: 8px 0 48px;
    text-align: center;

    @include mixins.text-size-16-27(variables.$color-22, 400);
  }

  &__button {
    @include mixins.section-grid;
  }

  &__link {
    padding-block: 15px;
    text-decoration: none;
    text-align: center;
    background-color: variables.$color-209-45-53;
    grid-column: span 2;

    @include mixins.on-tablet {
      grid-column: 2 / 6;
    }

    @include mixins.on-desktop {
      grid-column: 5 / 9;
    }

    @include mixins.text-size-16-27(variables.$color-255, 700);

    &:hover {
      background-color: variables.$color-174-28-35;
    }

    &:active {
      background-color: variables.$color-235-52-61;
    }
  }
}
