@use 'variables';
@use '../utils/mixins';

.pop-up {
  &_position {
    position: absolute;
    top: -26px;
    right: 6.25rem;

    visibility: hidden;
    opacity: 0;
    transition-duration: 3.5s;
  }

  &__text {
    margin: 0;
    text-transform: uppercase;
    text-align: right;

    @include mixins.text-size-16-27(variables.$color-255, 700);

    &_top8 {
      margin-top: 8px;
    }
  }

  &__link {
    color: variables.$color-255;
    text-decoration: none;
  }
}
