@use 'variables';
@use '../utils/mixins';

.section-title {
  margin: 0;
  color: variables.$color-22;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;

  &_text-left {
    text-align: left;
  }

  @include mixins.on-tablet {
    font-size: 48px;
    line-height: 48px;
  }
}
